@import 'tailwindcss';
.my-form{
  display: flex;
  text-align: center;
  align-items: center;
  width:99vw;
  justify-content: space-evenly;
  height: 150px;
  font-size: 25px;
}
html{
    scroll-behavior: smooth;
}
.main{
  text-align: center;
  display: flex;
  justify-content: center;
}
.input-form{
  border:2px solid black;
  margin: 15px;
  color: white;
  background-color: rgb(58, 82, 104);
}
.table{
  font-size: 18px;
  width: 80vw;  
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 2px solid black;
}
.table td{
  border: 2px solid black;
  padding:8px;
}
.table th{
  padding: 15px;
  text-align: center;
  border: 2px solid black ;
  
}
.button-tag{
  text-align: center;
}

button{
  color: aliceblue;
  background: #000;
  padding: 15px;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}



/**********ui section *********/
*{
    margin: 0;
}
.info{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}
.navbar{
    height: 70px;
    background: #000;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 50;
}

.nav-one{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.nav-one p{
    margin-right: 10px;
}
.nav-one img{
    width:10%;
    border-radius: 50%;
    object-fit: cover;
}
.nav-two{
    display: flex;
    height: 40px;
    width: 23%;
    justify-content: space-between;
    align-items: center;
    border:2px solid black;
    background:white;
    flex-shrink: 50%;
    padding-left: 5px;
    border-radius: 5px;
}
.nav-two input{
    border-style: none;
    width: 99%;
    color: black;
    background-color: white;
    height: 80%;
    
}
.nav-two i{
    border: 2px solid white;
    border-radius: 5px;
    height: 90%;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    padding:0 8px;
    font-size: 1rem;
    justify-self: center;
    align-self: center;
    background:black;
    
}
.nav-three{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.nav-profile{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    align-items: center;
}
.nav-profile img{
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
}
.fa-solid {
    display: none;
    color: white;
}
@media screen and (max-width:600px){
    *{
        margin:0;
        padding: 0;
    }
    .navbar{
        height: 10vh;
        /* width:fit-content; */
        justify-content: space-around;
    }
    .nav-one{
        font-size: 1.5rem;
        width: 20%;
    }
    .nav-two{
        width: 35%;
    }
    .nav-two i{
        margin-right: 0px;
    }
    .fa-solid{
        display: flex;
        margin-right: 10px;
    }
    .nav-three{
        width: 15%;
        display: none;
    }
    .nav-one img{
        width: 50%;
    }
    .hero{
        display: none;
    }
    
}


/******Hero section***********/

.hero{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    height:90vh;
}



/*******hero one**********/
.hero-one{
    font-size: 4rem;
    font-weight:bolder;
    width:40vw;
}
.hero-one p{
    padding-left: 35px;
}
.hero-one img{
    height:70%;   
    width: 100%;
    padding-top: 30px;
}


/*******************hero two************/
ul{
    list-style: none;
}

.hero-two{
    width: 40vw;  
    display: flex; 
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 1;
}
.hero-two p{
    font-size: 3.5rem;
    font-weight:bold;
    padding-left :35px; ;
}
.hero-two ul{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;    
    justify-content: space-around;
}
.items{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-size:2.2rem;
    width: 32%;
    height: 75%;
    transform: scale(1);
    transition: transform 0.25s;
}

.items div{
    position: absolute;
    display: flex;
    z-index: 2;
}

.items img{
    width:92%;                                                                                      
    height: 90%;
    filter: brightness(60%);
    object-fit: cover;
    border-radius: 12px;
    
}


.items:hover{
    transform: scale(1.1); /* Enlarges the item by 10% visually */
    z-index: 10;
    font-size: 2.4rem;
    
} 
.items:hover img{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0,0.8);
    border:3px solid black;
}
.items img{
    transition:box-shadow 0.25s;
}

/*********second section of webpage*****/






